@model leave_management.Models.LeaveTypeVM

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateCreated)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateCreated)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-warning btn-sm" title="Edit">
        <i class="fa fa-pencil" aria-hidden="true"></i>&nbsp;Edit
    </a> | 
    <a asp-action="Index" title="Back to List" class="btn btn-outline-secondary btn-sm">
        <i class="fa fa-long-arrow-left" aria-hidden="true"></i>&nbsp;Back to List
    </a>
</div>
